---
import Layout from '../layouts/layouts.astro'
import Showcase from '../components/bodysection.astro'
---
<Layout title ="Jovic" >
  <Showcase showExtra ={true} />
  
  <h1>hello jovic</h1>

</Layout>

