---
import Layout from '../layouts/layouts.astro'
import Showcase from '../components/bodysection.astro'
import Features from '../components/features.astro'
---
<Layout title ="Jovic" >
  <Showcase showExtra ={true} />
  <Features/>
  
  <h1 class="text-3xl font-bold ">hello jovic</h1>

</Layout>

